@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.locationImg-wrapper {
  margin: 20px auto;
  width: 800px;
  height: 400px;
  background-color: gray;
}

.top-bar {
  background-color: #FFA07A;
}

.drag-n-drop {
  font-size: medium;
  font-weight: 300;
}

.holy-grail-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-gap: 20px;
  height: 100vh;

  // redefining grid on small
  @media screen and (max-width: 60em) {
    grid-template-rows: 2fr 1fr 5fr 1fr;
  }
}

.holy-grail-header,
.holy-grail-left,
.holy-grail-middle,
.holy-grail-right,
.holy-grail-footer {
  padding: 1rem;
  border: 1px solid #ededed;
  background-color: #ededed
}

.holy-grail-header {
  @media screen and (max-width: 20em) {
  margin: auto;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
}
}

.holy-grail-left {
  @media screen and (max-width: 20em) {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.holy-grail-middle {
  @media screen and (max-width: 80em) {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.right-nav {
  @media screen and (max-width: 10em) {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.holy-grail-footer {
  grid-column-start: 1;
  grid-column-end: 4;
}

