@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.review-header,
.review-voting-area {
  display: flex;
  justify-content: space-between;
  height: 60px;

  .score-wrapper {
    width: 60px;
    height: 60px;
    p {
      font-size: 30pt;
      text-align: center;
    }
  }
  input {
    width: 60px;
  }
}

.locationImg-wrapper {
  margin: 20px auto;
  width: 800px;
  height: 400px;
  background-color: gray;
}

.top-bar {
  background-color: #ffa07a;
  border-radius: 25px;
}

.drag-n-drop {
  font-size: medium;
  font-weight: 300;
}

.holy-grail-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 8fr 1fr;
  grid-gap: 50px;
  height: 100vh;

  // redefining grid on small
  @media screen and (max-width: 60em) {
    grid-template-rows: 2fr 1fr 5fr 1fr;
  }
}

.holy-grail-header {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  padding-top: 5px;
  text-align: center;
  background-color: #ffa07a;
  margin: 0.5em;
  border-radius: 25px;
}

.holy-grail-left {
  @media screen and (max-width: 60em) {
    margin-right: 5em;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-left: 0;
    border-radius: 25px;
  }
}

.holy-grail-middle {
  width: 100%;
  display: flex;
  background-color: #d7bea8;
  grid-row-start: 0;
  grid-column-start: 0;
  grid-column-end: 0;
  padding: 35px auto;
  border-radius: 25px;
}

.holy-grail-right {
  @media screen and (max-width: 60em) {
    background-color: #177e89;
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.holy-grail-footer {
  text-align: center;
  font-size: large;
  background-color: #d7bea8;
  color: #3d2c2e;
  grid-column-start: 1;
  grid-column-end: 4;
}

.review-boxes {
  text-align: left;
  box-shadow: 0 0 0 1em #3d2c2e;
  margin: 1em;
  padding: 0.5em;
  border-radius: 25px;
}

.review-form form {
  box-shadow: 0 0 0 1em #3d2c2e;
  margin: 1em;
  padding: 0.5em;
  border-radius: 25px;
}

.button {
  position: auto;
  top: 50%;
  background-color: #177e89;
  color: white;
  border: none;
  border-radius: 10px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}
